.nav-container {
  background-color: whitesmoke;
  border-bottom: solid gold 2px;
  box-shadow: 0px 7px 7px black;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: 1;
  height: 110px;
}
#logo-div {
  position: absolute;
  font-size: 75px;
}
.user-links {
  margin: 40px;
  margin-left: 800px;
}

.links {
  color: black;
  padding: 20px;
  text-decoration: none;
}

.links:hover {
  transition: 1s;
  color: gold;
}

.nav-user-info {
  display: flex;
  justify-content: center;
  margin-left: 400px;
}

#logout {
  margin-top: 20px;
}

#nav-profile-pic {
  margin-top: 25px;
  height: 50px;
  width: 50px;
}

.home-icon {
  height: 50px;
  width: 50px;
  margin-top: 25px;
}

.home-icon:hover {
  transition: 1s;
  height: 60px;
  width: 60px;
}

.controller-M {
  border: solid gold 2px;
  height: 50px;
  width: 50px;
}
